.card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    color: rgb(89, 170, 241);
    background-color: whitesmoke;
    border-radius: 6px;
    gap: 1rem;
    max-width: 300px;
    min-width: 200px;
}

.card__title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.card__description {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
}

.card__button {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 100%;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: solid 1px black;
}

.card__button:hover {
    font-size: 1rem;
    color: green;
    background-color: black;
}

.card__content {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
}

.card__guess__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card__content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}